body {
  font-family: Arial, sans-serif;
  background-color: rgb(81, 205, 251);
}

h1 {
  font-family: Times, serif;
}

ul {
  text-align: center;
  list-style: none;

  li:first-letter {
    font-weight: bold;
    font-size: larger;
  }
}