$page-color: rgb(176, 160, 135);
body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding-left: 30px;
}

p {
  margin: 10px 0;
}

h2 {
  font-weight: bold;
}

small {
  margin: 10px 0;
  font-size: smaller;
}

strong {
  font-weight: bold;
}

#header {
  margin-top: 50px;
  position: relative;

  blockquote {
    position: absolute;
    margin-left: 320px;
    top: 50px;
    font-style: italic;
    font-size: 25px;
  }
}

#logo {
  h1 {
    display: none;
  }
}

#content {
  margin-top: 30px;

  a {
    color: $page-color;
    text-decoration: none;
  }

  dd {
    margin-left: 15px;
  }
}

#content-side {
  float: left;
  width: 20%;
}

#content-main {
  float: left;
  width: 40%;
  margin-left: 50px;
}