@import "compass/utilities/general/clearfix";

body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

.container {
  width: 980px;
  margin: 20px auto;
}

h1 {
  font-weight: bold;
  font-size: 30px;
}

a {
  color: rgb(74, 142, 184);
}

.header {
  @include clearfix;

  padding: 0 10px;
}

.logo {
  float: left;

  &__site-name span {
    color: rgb(195, 89, 60);
  }

  &__description {
    font-size: small;
    color: rgb(135, 128, 128);
    text-align: center;
  }
}

.nav {
  float: right;
  clear: right;
  width: 700px;
}

.login {
  font-size: small;
  float: right;
  border-bottom: 1px dotted;
  padding: 0 0 10px 280px;

  &__message {
    font-weight: bold;
  }
}

.categories {
  float: right;
  margin: 10px 0 15px;
  font-size: small;

  &__label {
    color: rgb(135, 128, 128);
  }

  &__category {
    font-weight: bold;
    margin-left: 30px;
    padding-bottom: 9px;

    &_state_active {
      color: rgb(195, 89, 60);
      text-decoration: none;
      background: url('../images/bar.gif') no-repeat bottom;
    }
  }
}

.search-bar {
  background-color: rgb(70, 69, 72);
  height: 50px;
  border-radius: 10px;
}

.promotion {
  font-size: small;
  color: rgb(135, 128, 128);
  background-color: rgb(244, 244, 244);
  padding: 10px 20px 20px 10px;
  border-bottom: 1px solid rgb(204, 204, 204);
}