/* line 9, ../sass/challenge-4.scss */
body {
  background-color: #54704a;
}

/* line 9, ../sass/challenge-4.scss */
#wrap {
  background-color: #b5b67d;
}

/* line 9, ../sass/challenge-4.scss */
#nav {
  background-color: #689d59;
}

/* line 9, ../sass/challenge-4.scss */
#content {
  background-color: #738f69;
}

/* line 14, ../sass/challenge-4.scss */
#wrap {
  margin: 0 auto;
  width: 80%;
}
