/* line 3, ../sass/internet-music.scss */
body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

/* line 7, ../sass/internet-music.scss */
.container {
  width: 980px;
  margin: 20px auto;
  line-height: 18px;
}

/* line 13, ../sass/internet-music.scss */
h1 {
  font-weight: bold;
  font-size: 30px;
}

/* line 18, ../sass/internet-music.scss */
a {
  color: #4a8eb8;
}

/* line 22, ../sass/internet-music.scss */
p {
  padding: 10px;
}

/* line 26, ../sass/internet-music.scss */
.header {
  overflow: hidden;
  *zoom: 1;
  padding: 0 10px;
}

/* line 32, ../sass/internet-music.scss */
.logo {
  float: left;
}
/* line 35, ../sass/internet-music.scss */
.logo__site-name span {
  color: #c3593c;
}
/* line 39, ../sass/internet-music.scss */
.logo__description {
  font-size: small;
  color: #878080;
  text-align: center;
}

/* line 46, ../sass/internet-music.scss */
.nav {
  float: right;
  clear: right;
  width: 700px;
}

/* line 52, ../sass/internet-music.scss */
.login {
  font-size: small;
  float: right;
  border-bottom: 1px dotted;
  padding: 0 0 10px 280px;
}
/* line 58, ../sass/internet-music.scss */
.login__message {
  font-weight: bold;
}

/* line 63, ../sass/internet-music.scss */
.categories {
  float: right;
  margin: 10px 0 15px;
  font-size: small;
}
/* line 68, ../sass/internet-music.scss */
.categories__label {
  color: #878080;
}
/* line 72, ../sass/internet-music.scss */
.categories__category {
  font-weight: bold;
  margin-left: 30px;
  padding-bottom: 9px;
}
/* line 77, ../sass/internet-music.scss */
.categories__category_state_active {
  color: #c3593c;
  text-decoration: none;
  background: url("../images/bar.gif") no-repeat bottom;
}

/* line 85, ../sass/internet-music.scss */
.search-bar {
  background-color: #464548;
  height: 50px;
  border-radius: 10px;
}

/* line 91, ../sass/internet-music.scss */
.promotion {
  font-size: small;
  color: #878080;
  background-color: #f4f4f4;
  border-bottom: 1px solid #cccccc;
}

/* line 98, ../sass/internet-music.scss */
.content {
  overflow: hidden;
  *zoom: 1;
  font-size: small;
  margin: 10px 0;
}
/* line 104, ../sass/internet-music.scss */
.content-main {
  float: left;
  width: 600px;
}
/* line 108, ../sass/internet-music.scss */
.content-main__heading {
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}

/* line 116, ../sass/internet-music.scss */
.sidebar {
  float: right;
  clear: right;
  width: 300px;
}

/* line 122, ../sass/internet-music.scss */
.article {
  background-color: #c65d35;
  border-radius: 10px;
  margin-bottom: 10px;
  color: #fee1d5;
}
/* line 128, ../sass/internet-music.scss */
.article a {
  color: #fffcd1;
}
/* line 132, ../sass/internet-music.scss */
.article__image {
  float: left;
  padding: 10px 10px 0 10px;
}

/* line 138, ../sass/internet-music.scss */
.featured-artist {
  background-color: #6e6e6e;
  color: white;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  min-height: 185px;
}
/* line 146, ../sass/internet-music.scss */
.featured-artist a {
  color: #fffcd1;
}
/* line 150, ../sass/internet-music.scss */
.featured-artist__label {
  font-weight: bold;
  font-size: large;
  margin-left: 10px;
}
/* line 156, ../sass/internet-music.scss */
.featured-artist__name {
  color: #fffcd1;
}
/* line 160, ../sass/internet-music.scss */
.featured-artist__image {
  border: 1px solid white;
  margin: 10px;
  padding: 5px;
  float: left;
}

/* line 168, ../sass/internet-music.scss */
.footer {
  font-size: small;
  text-align: center;
  color: #878080;
  padding-top: 10px;
  border-top: 1px dotted;
}
/* line 175, ../sass/internet-music.scss */
.footer a {
  color: #c3593c;
}
