/* line 10, ../sass/red-tie.scss */
h1 {
  font-size: 34px;
  font-weight: bold;
}

/* line 10, ../sass/red-tie.scss */
h2 {
  font-size: 28px;
  font-weight: bold;
}

/* line 10, ../sass/red-tie.scss */
h3 {
  font-size: 22px;
  font-weight: bold;
}

/* line 10, ../sass/red-tie.scss */
h4 {
  font-size: 16px;
  font-weight: bold;
}

/* line 17, ../sass/red-tie.scss */
body {
  font-family: Lato, 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: small;
}

/* line 22, ../sass/red-tie.scss */
p {
  margin: 10px 0;
}

/* line 26, ../sass/red-tie.scss */
.container {
  width: 980px;
  margin: 0 auto;
}

/* line 31, ../sass/red-tie.scss */
.global-header {
  overflow: hidden;
  *zoom: 1;
  background-color: #f0f0f0;
}

/* line 36, ../sass/red-tie.scss */
.logo {
  float: left;
  background-image: url("../images/tie_logo.gif");
  width: 274px;
  height: 213px;
}

/* line 44, ../sass/red-tie.scss */
.logo__heading {
  color: white;
  margin-top: 75px;
  margin-left: 70px;
}

/* line 50, ../sass/red-tie.scss */
.address {
  float: left;
  margin-top: 15px;
}

/* line 55, ../sass/red-tie.scss */
.global-nav {
  float: right;
  margin-top: 15px;
  margin-right: 8px;
}
/* line 60, ../sass/red-tie.scss */
.global-nav li {
  margin-right: 5px;
}

/* line 65, ../sass/red-tie.scss */
.address, .global-nav {
  background-color: #f0f0f0;
}

/* line 69, ../sass/red-tie.scss */
.menu, .submenu {
  float: right;
  width: 100%;
}

/* line 74, ../sass/red-tie.scss */
.menu {
  color: white;
  background-image: url("../images/bg_menu.gif");
  clear: right;
  margin-top: 14px;
  height: 33px;
}
/* line 81, ../sass/red-tie.scss */
.menu li {
  margin-top: 8px;
  margin-right: 5px;
}
/* line 86, ../sass/red-tie.scss */
.menu li:first-child {
  margin-left: 345px;
}

/* line 91, ../sass/red-tie.scss */
.submenu {
  background: white url("../images/bg_submenu.gif") repeat-x;
  margin-top: -1px;
  padding-top: 10px;
}
/* line 100, ../sass/red-tie.scss */
.submenu li {
  margin-right: 5px;
}
/* line 104, ../sass/red-tie.scss */
.submenu li:first-child {
  margin-left: 285px;
}

/* line 110, ../sass/red-tie.scss */
.global-nav li, .menu li, .submenu li {
  float: left;
}

/* line 115, ../sass/red-tie.scss */
.content-sidebar {
  background-color: #f7f7f7;
  border: 1px solid black;
  float: left;
  clear: left;
  padding: 15px 10px;
  width: 250px;
}

/* line 124, ../sass/red-tie.scss */
.content-main {
  float: right;
  margin-top: -30px;
  width: 680px;
}

/* line 130, ../sass/red-tie.scss */
.content-main__heading {
  text-align: center;
}

/* line 134, ../sass/red-tie.scss */
.content-sidebar__title, .content-sidebar__news-item__date, .content-main__heading {
  color: #cc0000;
}

/* line 138, ../sass/red-tie.scss */
.menu, .content-main__material__intro {
  font-weight: bold;
}

/* line 142, ../sass/red-tie.scss */
.global-nav, .submenu, .content-sidebar__news-item__link, .menu_location_footer {
  color: #999999;
  font-weight: bold;
  font-size: 11px;
}

/* line 148, ../sass/red-tie.scss */
.menu_location_footer {
  float: left;
  clear: left;
  background: #f0f0f0;
}
/* line 153, ../sass/red-tie.scss */
.menu_location_footer li:first-child {
  margin-left: 215px;
}
